.container{
  margin-top: 20px;
  background: #fff;
  min-height: 450px;
  padding: 30px;
  border-radius: 5px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.graph{
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto;
}

.resetBtn{
  margin: 30px auto;
}
