.container{
  margin-top: 20px;
  background: #fff;
  min-height: 450px;
  padding: 30px;
  border-radius: 5px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.timerCard{
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  min-height: 60px;
}

.timerCard p{
  font-size: 16px;
  margin-bottom: 0px;
}

.timerCard p span{
  font-size: 18px;
}

.summaryBtn{
  margin: 50px auto;
}
