.header {
  background: #000;
  padding: 0px 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: var(--site-width);
  width: var(--content-width);
  margin: 0 auto;
}

.logo{
  width: 50px;
  height: 50px;
}

.title {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.list {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0rem;
}

.listItem{
  cursor: pointer;
}
.link {
  color: #ccc;
  text-transform: capitalize;
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: normal;
}

.link:focus,
.link:hover {
  color: #24A3CF;
}

.desktopNav{
  display: block;
}

.active{
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
.active:focus{
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .title{
    font-size: 1rem;
  }
  .link{
    font-size: .8rem;
  }
  .list{
    display: none;
  }
  .desktopNav{
    display: none;
  }
}
