.question{
  font-size: 18px;
  margin-bottom: 20px;
}
.option{
  margin-bottom: 20px;
}
.button{
  border: none;
  cursor: pointer;
  color: #f35121;
  padding: 12px 40px;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background: #fff;
  position: relative;
  overflow: hidden;
  outline: none;
}

.button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 0, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
